numpy==1.23.0
pyyaml
protobuf==3.19.4
https://github.com/TexasInstruments/onnx/archive/tidl-j7.zip
torch
timm
tflite
pillow
flatbuffers==1.12.0
requests
opencv-python
pytest
graphviz
dataclasses
gluoncv
git+https://github.com/kumardesappan/caffe2onnx

